<head>
    <link rel="stylesheet" href="\css\quienessomos.css">
</head>

<body>
    <div class="jumbotron">
        <h2>¿Como contactar con nosostros?</h2>
        <hr>
        <h5>Ya sabes donde estamos...</h5>
        <img style="width: 100%;" src="fotos/gtsby.gif" alt="">
    </div>
</body>