<head>

    <link rel="stylesheet" href="\css\signin.css">

</head>
<body>
  <form action="/signin" class="formulario" method="POST">
    <h1 class="formulario__titulo">Introduce tus datos</h1>

    <input type="email" class="formulario__input" name="email">
    <label for="" class="formulario__label">Correo electrónico</label>

    <input type="password" class="formulario__input" name="contraseña">
    <label for="" class="formulario__label">Contraseña</label>

    <input type="submit" class="formulario__submit">

    <div id="zonadeabajo">
    <a href="#">¿Has olvidado tu contraseña?</a>
    </div>

  </form>

    <script src="\scripts\contacto.js"></script>

</body>