body{
    background: #ff9966;  
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  
    background: linear-gradient(to right, #ff5e62, #ff9966);
    min-height: 600px;
}

i{
    padding-right: 5px;
}

footer{
    color: white;
    text-decoration: none;
}